In [1]:
import pandas as pd

In [3]:
df_path = "~/Desktop/CVD risk prediction Notebook/Datasets/Office based Datasets/Indian dataset/globorisk.tab"
df = pd.read_table(df_path)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618921 entries, 0 to 1618920
Data columns (total 53 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   glucose            1353955 non-null  float64
 1   BMI                1403002 non-null  float64
 2   age                1618882 non-null  float64
 3   bpsyst_avg         1415656 non-null  float64
 4   bpsyst_frst        1414466 non-null  float64
 5   bpsyst_sec         1412774 non-null  float64
 6   bpdiast_frst       1396382 non-null  float64
 7   bpdiast_sec        1401603 non-null  float64
 8   sweight            1618921 non-null  float64
 9   ai_NAT             1548842 non-null  float64
 10  ai_NAT_rurb        1548842 non-null  float64
 11  DLHS               1618921 non-null  int64
 12  state              1618921 non-null  int64
 13  state_dist         1618921 non-null  int64
 14  female             1618359 non-null  float64
 15  educ               1611608 non-null  float64
 16  rural              1618921 non-null  int64
 17  q_ai_nat_rurb      1548842 non-null  float64
 18  q_ai_nat           1548842 non-null  float64
 19  caste              1617873 non-null  float64
 20  hindu              1618567 non-null  float64
 21  muslim             1618567 non-null  float64
 22  christian          1618567 non-null  float64
 23  sikh               1618567 non-null  float64
 24  buddhist           1618567 non-null  float64
 25  jain               1618567 non-null  float64
 26  noreligion         1618567 non-null  float64
 27  otherreligion      1618567 non-null  float64
 28  married            1615938 non-null  float64
 29  htn_treated        1618921 non-null  int64
 30  htn_broad_avg      1388142 non-null  float64
 31  diab_broad         1353955 non-null  float64
 32  fasted             849282 non-null   float64
 33  smoke              1391064 non-null  float64
 34  hhid               1618921 non-null  int64
 35  psu                1618921 non-null  int64
 36  fid                607227 non-null   float64
 37  age_grp            1618882 non-null  float64
 38  bmi_grp            1403002 non-null  float64
 39  BMIgrt25           1403002 non-null  float64
 40  obese              1403002 non-null  float64
 41  currsmoke          1250673 non-null  float64
 42  eversmoke          1250673 non-null  float64
 43  religion           1618567 non-null  float64
 44  urban              1618921 non-null  int64
 45  male               1618359 non-null  float64
 46  female_lab         1618359 non-null  float64
 47  urban_lab          1618921 non-null  int64
 48  q_ai_nat_rurb_lab  1548842 non-null  float64
 49  agest_weight       1618882 non-null  float64
 50  sworld_weight      1618921 non-null  float64
 51  sbp                1415656 non-null  float64
 52  ten_y_cvd          586813 non-null   float64
dtypes: float64(44), int64(9)
memory usage: 654.6 MB

In [6]:
df.head().T

,0,1,2,3,4
glucose,106.000000,139.000000,98.000000,88.000000,NaN
BMI,18.685120,33.802639,21.265787,21.413486,NaN
age,32.000000,44.000000,30.000000,26.000000,45.000000
bpsyst_avg,119.000000,144.500000,127.000000,126.500000,NaN
bpsyst_frst,142.000000,151.000000,128.000000,127.000000,NaN
bpsyst_sec,96.000000,138.000000,126.000000,126.000000,NaN
bpdiast_frst,97.000000,80.000000,80.000000,79.000000,NaN
bpdiast_sec,78.000000,78.000000,78.000000,77.000000,NaN
sweight,1.251520,0.451514,0.801655,3.640250,0.980646
ai_NAT,0.208478,0.501590,1.067266,-0.270018,-0.790593
ai_NAT_rurb,-0.606690,-0.203971,0.461989,0.070221,-0.599009
DLHS,2.000000,2.000000,2.000000,2.000000,2.000000
state,28.000000,24.000000,13.000000,32.000000,13.000000
state_dist,555.000000,15.000000,473.000000,306.000000,478.000000
female,1.000000,2.000000,1.000000,1.000000,1.000000
educ,4.000000,1.000000,6.000000,6.000000,2.000000
rural,1.000000,1.000000,1.000000,2.000000,2.000000
q_ai_nat_rurb,2.000000,3.000000,4.000000,4.000000,2.000000
q_ai_nat,4.000000,4.000000,5.000000,3.000000,2.000000
caste,3.000000,1.000000,2.000000,1.000000,2.000000
hindu,1.000000,2.000000,2.000000,2.000000,2.000000
muslim,2.000000,1.000000,1.000000,1.000000,1.000000
christian,1.000000,1.000000,1.000000,1.000000,1.000000
sikh,1.000000,1.000000,1.000000,1.000000,1.000000
buddhist,1.000000,1.000000,1.000000,1.000000,1.000000
jain,1.000000,1.000000,1.000000,1.000000,1.000000
noreligion,1.000000,1.000000,1.000000,1.000000,1.000000
otherreligion,1.000000,1.000000,1.000000,1.000000,1.000000
married,2.000000,2.000000,2.000000,1.000000,2.000000
htn_treated,1.000000,1.000000,1.000000,1.000000,1.000000
htn_broad_avg,1.000000,2.000000,1.000000,1.000000,NaN
diab_broad,1.000000,1.000000,1.000000,1.000000,NaN
fasted,2.000000,1.000000,2.000000,2.000000,NaN
smoke,11.000000,9.000000,9.000000,9.000000,NaN
hhid,264679.000000,43978.000000,301062.000000,202584.000000,308056.000000
psu,36.000000,50.000000,45.000000,20.000000,32.000000
fid,NaN,NaN,NaN,NaN,NaN
age_grp,2.000000,3.000000,2.000000,2.000000,3.000000
bmi_grp,3.000000,2.000000,3.000000,3.000000,NaN
BMIgrt25,1.000000,2.000000,1.000000,1.000000,NaN
obese,1.000000,2.000000,1.000000,1.000000,NaN
currsmoke,2.000000,1.000000,1.000000,1.000000,NaN
eversmoke,2.000000,1.000000,1.000000,1.000000,NaN
religion,4.000000,3.000000,3.000000,3.000000,3.000000
urban,2.000000,2.000000,2.000000,1.000000,1.000000
male,2.000000,1.000000,2.000000,2.000000,2.000000
female_lab,2.000000,1.000000,2.000000,2.000000,2.000000
urban_lab,2.000000,2.000000,2.000000,1.000000,1.000000
q_ai_nat_rurb_lab,2.000000,3.000000,4.000000,4.000000,2.000000
agest_weight,0.022115,0.019164,0.022115,0.023055,0.017559
sworld_weight,0.027678,0.008653,0.017729,0.083925,0.017219
sbp,11.900000,14.450000,12.700000,12.650000,NaN
ten_y_cvd,NaN,0.084521,NaN,NaN,NaN

In [8]:
df.drop(df.columns.difference(['glucose','age','bpsyst_avg', 'female', 'currsmoke', 'ten_y_cvd']), 1, inplace=True)

C:\Users\Mo Darwesh\AppData\Local\Temp\ipykernel_10528\3862847922.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['glucose','age','bpsyst_avg', 'female', 'currsmoke', 'ten_y_cvd']), 1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618921 entries, 0 to 1618920
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   glucose     1353955 non-null  float64
 1   age         1618882 non-null  float64
 2   bpsyst_avg  1415656 non-null  float64
 3   female      1618359 non-null  float64
 4   currsmoke   1250673 non-null  float64
 5   ten_y_cvd   586813 non-null   float64
dtypes: float64(6)
memory usage: 74.1 MB

In [7]:
df.head()

   glucose   age  bpsyst_avg  female  currsmoke  ten_y_cvd
0    106.0  32.0       119.0     1.0        2.0        NaN
1    139.0  44.0       144.5     2.0        1.0   0.084521
2     98.0  30.0       127.0     1.0        1.0        NaN
3     88.0  26.0       126.5     1.0        1.0        NaN
4      NaN  45.0         NaN     1.0        NaN        NaN

In [8]:
df.dropna(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562641 entries, 1 to 1618920
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   glucose     562641 non-null  float64
 1   age         562641 non-null  float64
 2   bpsyst_avg  562641 non-null  float64
 3   female      562641 non-null  float64
 4   currsmoke   562641 non-null  float64
 5   ten_y_cvd   562641 non-null  float64
dtypes: float64(6)
memory usage: 30.0 MB

In [10]:
df.head()

    glucose   age  bpsyst_avg  female  currsmoke  ten_y_cvd
1     139.0  44.0       144.5     2.0        1.0   0.084521
8      90.0  42.0       120.0     1.0        2.0   0.107591
12    107.0  70.0       143.5     2.0        1.0   0.228246
20    106.0  66.0       132.5     1.0        2.0   0.211493
23    119.0  70.0       155.5     1.0        1.0   0.231731

In [13]:
df.to_csv('cleaned_indian_dataset.csv')